.portfolio {
  min-width: 1158px;
  background: var(--cloud);
  background-color: #c2d49d;
  /* CLOUD / Light М'який світло-сірий фон для секції портфоліо */

  border: 1px solid #5e5373;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* Відстань між проектами */
  background: rgb(226, 112, 112);
}

.portfolio-card {

  background-color: #51d337;
}

.portfolio-depition {
  padding: 32px 16px;

  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);

}

/* .portfolio-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
} */

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  color: #2e2f42;
  /* Navy-blue Колір заголовка */
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: var(--slate);
  color: #4d4f66;
  /* SLATE / Темно-сірий колір для тексту */
}